/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

	article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
	audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
	audio:not([controls]) { display: none; }
	[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

	/*
	 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
	 * 2. Force vertical scrollbar in non-IE
	 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
	 */
	
	html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
	
	body { margin: 0; font-size: 12px; line-height: 1.4; color: #595A5C; background: url(../images/background.gif) no-repeat fixed center bottom #F2F2F3; }
	
	body, button, input, select, textarea { font-family: "ff-meta-web-pro", helvetica, arial, sans-serif; }
	
	/* 
	 * Remove text-shadow in selection highlight: h5bp.com/i
	 * These selection declarations have to be separate
	 * Also: hot pink! (or customize the background color to match your design)
	 */
	
	::-moz-selection { background: #fff; color: #000; text-shadow: none; }
	::selection { background: #fff; color: #000; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

	a { 
		color: #000; 
		text-decoration: none;
		-webkit-transition: all .8s ease-in-out;
		-moz-transition: 	all .8s ease-in-out;
		-o-transition: 		all .8s ease-in-out;
		transition: 		all .8s ease-in-out;
	}
	a:visited { color: #000; }
	a:hover { color: #000; }
	a:focus { outline: none; }
	
	/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
	a:hover, a:active { outline: 0; color: #000; }


/* =============================================================================
   Typography
   ========================================================================== */

	abbr[title] { border-bottom: 1px dotted; }
	
	b, strong { font-weight: bold; }
	
	blockquote { margin: 1em 40px; }
	
	dfn { font-style: italic; }
	
	hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
	
	ins { background: #ff9; color: #000; text-decoration: none; }
	
	mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
	
	/* Redeclare monospace font family: h5bp.com/j */
	pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
	
	/* Improve readability of pre-formatted text in all browsers */
	pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
	
	q { quotes: none; }
	q:before, q:after { content: ""; content: none; }
	
	small { font-size: 85%; }
	
	/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
	sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
	sup { top: -0.5em; }
	sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

	ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
	dd { margin: 0 0 0 40px; }
	nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

	/*
	 * 1. Improve image quality when scaled in IE7: h5bp.com/d
	 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
	 */
	
	img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
	
	/*
	 * Correct overflow not hidden in IE9 
	 */
	
	svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

	figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */
	
	form { margin: 0; }
	fieldset { border: 0; margin: 0; padding: 0; }
	
	/* Indicate that 'label' will shift focus to the associated form element */
	label { cursor: pointer; }
	
	/* 
	 * 1. Correct color not inheriting in IE6/7/8/9 
	 * 2. Correct alignment displayed oddly in IE6/7 
	 */
	
	legend { border: 0; *margin-left: -7px; padding: 0; }
	
	/*
	 * 1. Correct font-size not inheriting in all browsers
	 * 2. Remove margins in FF3/4 S5 Chrome
	 * 3. Define consistent vertical alignment display in all browsers
	 */
	
	button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
	
	/*
	 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
	 * 2. Correct inner spacing displayed oddly in IE6/7
	 */
	
	button, input { line-height: normal; *overflow: visible; }
	
	/*
	 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
	 */
	
	table button, table input { *overflow: auto; }
	
	/*
	 * 1. Display hand cursor for clickable form elements
	 * 2. Allow styling of clickable form elements in iOS
	 */
	
	button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
	
	/*
	 * Consistent box sizing and appearance
	 */
	
	input[type="text"] {
		border: none;
	}
	
	/* 
	 * Remove inner padding and border in FF3/4: h5bp.com/l 
	 */
	
	button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
	
	/* 
	 * 1. Remove default vertical scrollbar in IE6/7/8/9 
	 * 2. Allow only vertical resizing
	 */
	
	textarea { overflow: auto; vertical-align: top; resize: vertical; }
	
	/* Colors for form validity */
	input:valid, textarea:valid {  }
	input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

	table { border-collapse: collapse; border-spacing: 0; }
	td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Shaun Weaver
   ========================================================================== */
   
   
   h1, h3, h3, h4 {
   		font-family: "ff-meta-web-pro", Arial, helvetica, sans;
   		color: #000;
   		font-weight: normal;
   }
   
   h1 {
   		font-size: 24px;
   		text-transform: uppercase;
   		letter-spacing: 1px;
   }
   
   h2 {
   		font-size: 20px;
   }
   
   h3 {
   		font-size: 16px;
   		margin: 0px 0px 10px 0px;
   }
   
   h4 {
   	margin: 0px 0px 5px 0px;
   	padding: 0px;
   }

	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 {
	        display: inline;
	        float: left;
	}
	.container_12 .grid_1 {width: 60px;}
	.container_12 .grid_2 {width: 140px;}
	.container_12 .grid_3 {width: 220px;}
	.container_12 .grid_4 {width: 300px;}
	.container_12 .grid_5 {width: 380px;}
	.container_12 .grid_6 {width: 460px;}
	.container_12 .grid_7 {width: 540px;}
	.container_12 .grid_8 {width: 620px;}
	.container_12 .grid_9 {width: 700px;}
	.container_12 .grid_10 {width: 780px;}
	.container_12 .grid_11 {width: 860px;}
	.container_12 .grid_12 {width: 940px;}
	
	.container_12 {
	    margin: 0 auto;
	    width: 940px;
	    padding: 10px 20px;
	}
	
	.clear {
		clear: both;
	}
	
	.last {
		margin-right: 0px !important;
	}
	
	.no-bullets {
		margin: 0;
		padding: 0;
	}
	
	.no-bullets li {
		list-style: none;
	}
	
	.next, .previous {
		position: absolute;
		display: block;
		top: 40px;
		background-image: expression(this.runtimeStyle.backgroundImage='none', this.innerHTML = '<img alt="" src="../images/assets.png">' + this.innerHTML);
	}
	
	.next {
		padding-right: 30px;
		text-align: right;
	}
	
	.previous {
		padding-left: 30px;
		text-align: left;
	}
	
	.next:before, .next img, .previous:before, .previous img {
		content: url(../images/assets.png);
	  	position: absolute;
	  	height: 15px;
	}
	
	.white {
		background: #FFF;
	}
	
	.block {
		padding: 20px;
		margin-bottom: 20px;
	}



/* ==========================================================================
   Branding
   ========================================================================== */

	#branding {
		width: 350px;
		height: 220px;
		text-align: center;
		margin: 0 auto;
		margin-top: 100px;
		z-index: 50;
	}
	
	#logo a {
		display: block;
		width: 336px;
		height: 152px;
		background: url(../images/assets.png) no-repeat -4px -19px;
		margin: 0 auto;
	}
	
	#logo a h2 {
		text-indent: -9999px;
	}
	
	#strapline {
		font-size: 11px;
		color: #000;
	}
	
	#category {
		margin: 30px 0px;
	}
	
	#category ul li {
		display: inline;
	}
	
	#category a {
		font-size: 16px;
		font-weight: bold;
		padding: 0px 10px;
		color: #F5F5F5;
	}
	
	#category a:hover {
		color: #FFF;
	}
	
	#category ul li.with-bullet {
		padding: 5px 3px;
		background: url(../images/assets.png) no-repeat -63px 7px;
	}

	
/* ==========================================================================
   Branding Homepage
   ========================================================================== */

	.page-home #branding {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 370px;
		height: 220px;
		margin-left: -245px;
		margin-top: -220px;
		background: rgb(00,00,00);
		background: rgba(00,00,00,0.6);
		padding: 30px 60px 50px 60px;
		-webkit-border-radius: 	2px;
		-moz-border-radius: 	2px;
		-o-border-radius: 		2px;
		border-radius: 			2px;
	}
	
	.page-home #branding #logo a {
		background: url(../images/assets.png) no-repeat -437px -19px;
	}
	
	.page-home #branding #strapline {
		color: #FFF;
	}
	
	.page-home #branding #category a {
		font-size: 16px;
		font-weight: bold;
		padding: 0px 10px;
		color: #F5F5F5;
	}
	
	.page-home #branding #category a:hover {
		color: #FFF;
	}
	
	.page-home #branding #category ul li.with-bullet {
		padding: 5px 3px;
		background: url(../images/assets.png) no-repeat -63px 7px;
	}
	
	
/* ==========================================================================
   Navigation
   ========================================================================== */

	#navigation {
		width: 100%;
		background: #000;
		border-top: 1px solid #222;
		-webkit-box-shadow: 0 0 3px #000;
		-moz-box-shadow: 	0 0 3px #000;
		-o-box-shadow: 		0 0 3px #000;
		box-shadow: 		0 0 3px #000;
	}

	#navigation.fixed {
		position: fixed;
		top: 0px;
		z-index: 99;
	}
	
	#primary-navigation {
		float: left;
		width: 460px;
	}
	
	#primary-navigation a, #category-navigation a, #category-navigation-title {
		color: #BDBEC1;
		margin-right: 10px;
	}
	
	#category-navigation-title {
		float: left;
		font-weight: normal;
	}
	
	.active, #primary-navigation a:hover, #category-navigation a:hover {
		color: #FFF !important;
	}
	
	#top {
		display: block;
		height: 10px;
		width: 10px;
		background: url(../images/assets.png) no-repeat -71px 7px;
	}
	
	#category-navigation {
		float: right;
		width: 300px;
	}
	
	#up a {
		float: left;
		margin: 0 auto;
		width: 15px;
		height: 10px;
		margin-top: 5px;
		background: url(../images/assets.png) no-repeat -77px -1px;
		text-indent: -9999px;
	}

/* ==========================================================================
   Footer
   ========================================================================== */
	footer, #footer {
		clear: both;
		padding-bottom: 50px;
		background: rgb(00,00,00);
		background: rgba(00,00,00,0.7);
	}   
	
	.navigation-footer h4 {
		color: #FFF;
		font-weight: normal;
		margin: 10px 0px;
	}
	
	.navigation-footer a {
		display: block;
		color: #BDBEC1;
		padding-bottom: 3px;
	}
	
	.navigation-footer a:hover {
		color: #FFF;
	}

/* ==========================================================================
   Filter
   ========================================================================== */

	#filter {
		clear: both;
		margin-top: 15px;
		margin-bottom: 10px;
		background: #FFF;
	}
	
	#tags {
		padding: 30px 0px 10px 0px;
	}
	
	#tags ul li a {
		color: #595A5C;
	}
	
	#tags ul li a:hover {
		color: #000;
	}


/* ==========================================================================
   Share
   ========================================================================== */

	.share ul {
		padding: 0px;
		text-align: center;
		margin: 0 auto;
	}
	
	.share ul li {
		display: inline;
		list-style: none;
		margin: 0px 10px;
	}
	
	#main-post-share .share ul li a:hover {
		color: #FFF;
	}

/* ==========================================================================
   Homepage
   ========================================================================== */

	#todays-post {
		position: relative;
		background: url(../uploads/images/Untitled-1.jpg) repeat fixed;
	}
	
	#carousel, #carousel li {
		position: absolute;
		top: 0;
		left: 0;
		min-height: 600px;
		min-width: 1024;
	}
	
	#carousel li {
		background-repeat: no-repeat;
		background-position:  center center;
		-webkit-background-size:	cover;
		-moz-background-size:		cover;
		-o-background-size:			cover;
		background-size:			cover;
	}
	
	#scroll-down {
		position: relative;
		margin: 0 auto;
		width: 150px;
		z-index: 50;
	}
	
	#scroll-down a {
		display: block;
		background: rgb(00,00,00);
		background: rgba(00,00,00,0.6);
		padding: 10px 0px;
		margin: 0 0 10px 0;
		text-align: center;
		color: #FFF;
	}
	
	#scroll-down a:hover {
		background: rgba(00,00,00,0.7);
	}
	
	#scroll-down .down-arrow {
		margin: 0 auto;
	}
	
	.down-arrow {
		height: 10px;
		width: 15px;
		background: url(../images/assets.png) no-repeat -1px -1px;
	}
	
	.post-title-wrapper {
		position: absolute;
		width: 100%;
		background: rgb(00,00,00);
		background: rgba(00,00,00,0.6);
		bottom: 3%;
		z-index: 10;
	}
	
	.post-title {
		position: relative;
		text-align: center;
		width: 40%;
		margin: 0 auto;
		border-right: 1px solid rgba(255,255,255,0.3);
		border-left: 1px solid rgba(255,255,255,0.3);
	}
	
	.post-title h1, .post-title h1 a {
		color: #FFF;
		margin: 5px 0px;
	}
	
	.post-title p {
		color: #FFF;
		margin: 5px 0px;
	}
	
	.post-title-wrapper .next, .post-title-wrapper .previous {
		color: rgb(255,255,255);
		color: rgba(255,255,255,0.6);
		text-transform: uppercase;
		top: 25px;
		font-size: 11px;
	}
	
	.post-title-wrapper .next {
		right: 2%;
	}
	
	.post-title-wrapper .previous {
		left: 2%;
	}
	
	.post-title-wrapper .next:hover, .post-title-wrapper .previous:hover {
		color: rgb(255,255,255);
		color: rgba(255,255,255,1);
	}
	
	.post-title-wrapper .next:before, .post-title-wrapper .next img {
	  	clip: rect(1px 47px 16px 34px);
	  	right: -755px;
	}
	
	.post-title-wrapper .previous:before, .post-title-wrapper .previous img {
	  	clip: rect(1px 32px 16px 15px);
	  	left: -20px;
	}
		
	#articles {
		background: #FFF;
		overflow: hidden; 
	}
	
	#articles article {
		position: relative;
		height: 163px;
		margin: 10px 0px 20px 0px;
		clear: both;
	}
	
	.border-bottom {
		height: 163px;
		border-bottom: 1px solid #E7E8E9;
		margin-right: 20px;
	}
	
	.date {
		font-size: 12px;
		margin: 0px;
		color: #414142;
	}
	
	#articles article p {
		color: #595A5C;
		line-height: 1.4;
	}
	
	.front, .back {
		position: absolute;
	}
	
	.back {
		width: 300px;
		height: 163px;
		opacity: 0;
	}
	
	.back a {
		display: block;
		height: 100%;
		width: 100%;
	}

	
	.back.travel {
		background: rgba(255,255,255, 0.75) url(../images/assets.png) no-repeat 101px -1172px;
	}

	.back.food {
		background: rgba(255,255,255, 0.75) url(../images/assets.png) no-repeat 101px -523px;
	}
	
	.back.drink {
		background: rgba(255,255,255, 0.75) url(../images/assets.png) no-repeat 101px -852px;
	}

/* ==========================================================================
   Right Col
   ========================================================================== */

	.right-col {
		margin-left: 20px;
		float: right;
		width: 300px;
	}
	
	.connect {
		margin-bottom: 15px;
	}
	
	.connect ul {
		margin: 0;
		padding: 0;
	}
	
	.connect ul li {
		display: inline;
		list-style: none;
		margin-right: 5px;
	}
	
	#right-col .grid_4 {
		margin-bottom: 20px;
	}
	
	#avatar {
		margin-bottom: 20px;
	}
	
	.mpu {
		display: block;
		margin-bottom: 20px;
	}

/* ==========================================================================
   Individual Post
   ========================================================================== */
   
	#page-title {
		position: relative;
		border-top: 2px solid #E7E8E9;
		border-bottom: 2px solid #E7E8E9;
		text-align: center;
	}
	
	#post-title  {
		width: 500px;
		padding: 0px;
		margin: 0px auto;
		line-height: 1.8;
	}
		
	#post {
		background: #FFF;
		padding: 20px;
	}
	   
	   
	#post-wrapper {
		padding: 20px 60px;
	}
	
	#page-title .next {
		right: 0;
	}
	
	#page-title .previous {
		left: 0;
	}
	
	#page-title .next:hover, #page-title .previous:hover {
		color: #666;
	}
	
	#page-title .next:before, #page-title .next img {
	  	clip: rect(1px 47px 16px 34px);
	  	right: -310px;
	}
	
	#page-title .previous:before, #page-title .previous img {
	  	clip: rect(1px 32px 16px 15px);
	  	left: -20px;
	}

	.divide {
		width: 100%;
		border-bottom: 2px solid #E7E8E9;
	}
	
	.related_item {
		margin-right: 20px;
	}
	
	ul.carousel {
		margin: 0px;
		padding: 0px;
	}
	
	ul.carousel li {
		list-style: none;
	}
	
	.carousel-navigation {
		display: block;
		width: 40%;
		padding: 10px 0px;
		margin: 0 auto;
	}
	
	
	.carousel-navigation a {
		display: block;
		float: left;
		width: 8px;
		height: 8px;
		text-indent: -9999px;
		background: url(../images/assets.png) no-repeat -62px 0px;
	}
	
	.activeSlide {
		background: url(../images/assets.png) no-repeat -70px 0px !important;
	}


/* ==========================================================================
   Category Pages
   ========================================================================== */

	#categories, #main {
		overflow: hidden;
	}
	
	#categories article {
		border-bottom: 1px solid #E7E8E9;
		margin-bottom: 20px;
		min-height: 325px;
	}
	
	.margin-right {
		margin-right: 20px;
	}
	
	#categories article img {
		margin-bottom: 10px;
	}
	
	.details {
		position: relative;
		top: 190px;
	}


/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
   
   
   
@media only screen and (min-width: 280px) {
  /* Style adjustments for viewports 480px and over go here */



@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}