{embed="common/head"}

	<!-- SEO Stuff -->
	<meta name="title" content="All | On Plate, Still Hungry" />
	<meta name="description" content="some text here" /> 
	<meta name="author" content="On Plate, Still Hungry" />
	<!-- //End SEO Stuff -->
	
	<!-- Facebook O:G Data -->
	<meta property="og:url" content="{site_url}/all" />
	<meta property="og:site_name" content="On Plate, Still Hungry"/>
	<meta property="og:type" content="website"/>
	<meta property="og:image" content="{site_url}images/logo.png" />
	<meta property="og:title" content="All | On Plate, Still Hungry;" />
	<meta property="og:description" content="some text here" />
	<!-- //End Facebook O:G Data -->
		
	<title>Posts | On Plate, Still Hungry</title> 
		
{embed="common/header"}

		<!-- Navigation -->
		
		{embed="common/navigation"}
		
		<!-- //End of Navigation -->
		
		<!-- Branding -->
		
		{embed="common/branding"}
		
		<!-- //End of Branding -->
	
		<!-- Page Title -->
		
		<div id="page-title" class="container_12 block">
				
				<h1 id="post-title">Posts</h1>
		
		</div>
		
		<!-- //End of Post Title -->

		<!-- Post Section -->
		
		<section id="categories" class="container_12 block white">
		
			{exp:channel:entries channel="NOT static_page" limit="9" dynamic="no" paginate="bottom" }
		
			<!-- Invidual Post -->
				
				<article class="grid_4 margin-right{switch="|| last"}">
				
					<!-- Image shown by default -->
						
						<div class="front">
						
							<a href="{path="{categories limit="1"}{category_url_title}{/categories}/{url_title}"}">
							
								{exp:channel_images:images show_cover="yes" limit="1"}
								
									    <img src="{image:url:Medium}" alt="{title}" />
								
								{/exp:channel_images:images}
							
							</a>

						</div>
						
						<!-- //End Image shown by default -->
						
						<!-- Hidden by default -->
						
						<div class="back {categories limit="1"}{category_url_title}{/categories}">
							
							<a href="{path="{categories limit="1"}{category_url_title}{/categories}/{url_title}"}"></a>
						
						</div>
						
						<!-- //End Hidden by default -->
						
						<div class="details">
				
							<h3>
							
								<a href="{path="{categories limit="1"}{category_url_title}{/categories}/{url_title}"}">
							
								{exp:eehive_hacksaw characters = "80" }				
								
									{title}
								
								{/exp:eehive_hacksaw}
								
								</a>
								
							</h3>
						
							<p class="date"><strong>{column_name} - {author}</strong></p>
							
							<p class="date"><strong>{date_format}</strong></p>
							
							<p>
							
								{exp:eehive_hacksaw words = "20" append="..."}				
								
									{text_body}
								
								{/exp:eehive_hacksaw}
									
							</p>
						
						</div>
									
				</article>
				
				<!-- //End of Invidual Post -->	
				
				<!-- Pagination (Hidden by infinite scroll -->
				
				{paginate}
							
					<div class="navigation">
					
						<span id="paginationtotal">{total_pages}</span>
				    
				        {if previous_page}<a href="{auto_path}">Previous Page</a> &nbsp;{/if}
		        	
		        		{if next_page}<a class="next" href="{auto_path}">Next Page</a>{/if}
				
					</div>
							
				{/paginate}
				
				<!-- // End of Pagination (Hidden by infinite scroll -->
				
				
				{/exp:channel:entries}		

		
		</section>

		
{embed="common/footer"}	