{embed="common/head"}
	{if segment_5 != ""}
		<!-- Item Detailed Page -->
		{exp:channel:entries channel="text_piece|video_piece" limit="1" url_title="{segment_5}" dynamic="no"}
				<title>On Plate Still Hungry | The Best food guide ever | Home</title>
				<meta property="og:title" content="On Plate Still Hungry | The Best food guide ever" />
				<meta property="og:type" content="website" />
				<meta property="og:url" content="{site_url}" />
				<meta property="og:image" content="{site_url}/images/logo.png" />
			</head>
			<body>
				{embed="common/navigation"}
				<section id="content" class="wrapper">
					{embed="common/branding"}
					<section id="main">
						<header class="divide">
							<h1>{title}</h1>
							<p class="author">{author}</p>
						</header>
						<section id="featured">
							<div id="featured-large" class="featured-item">
								{exp:channel:entries channel="text_piece|video_piece" orderby="entry_date" limit="1"}
									<div class="featured-item-image">
										{exp:ce_img:pair src="{main_image}" width="615" height="305" crop="yes" allow_scale_larger="yes"}
											<img src="{made}" alt="{title}" width="{width}" height="{height}" />
										{/exp:ce_img:pair}
									</div>
							</div>
							<div class="clear"></div>
 						</section>
 						<section id="article-list">
							<p>{text_body}</p>
 						</section>
 						<section id="right-col">
 							
 						</section>
 					{/exp:channel:entries}
 						<section id="related-items">
 							<div class="list">
								<h3>Recent Recipes</h3>
								<ul>
									{exp:channel:entries channel="text_piece|video_piece" orderby="entry_date" limit="10" dynamic="no"}
										<li><a href=""#>{title}</a></li>
									{/exp:channel:entries}
								</ul>
							</div>
							<div class="list">
								<h3>Popular Posts</h3>
								<ul>
									{exp:channel:entries channel="text_piece|video_piece" orderby="track_views" limit="10" dynamic="no"}
										<li><a href=""#>{title}</a></li>
									{/exp:channel:entries}
								</ul>
							</div>
 						</section>
		
		<!-- //End Item Detailed Page -->
	{if:else}
		<!-- Contributor Page -->
		<title>On Plate Still Hungry | The Best food guide ever | Film</title>
				<meta property="og:title" content="On Plate Still Hungry | The Best food guide ever" />
				<meta property="og:type" content="website" />
				<meta property="og:url" content="{site_url}" />
				<meta property="og:image" content="{site_url}/images/logo.png" />
			</head>
			<body>
				{embed="common/navigation"}
				<section id="content" class="wrapper">
					{embed="common/branding"}
					<section id="main">
						<header class="divide"></header>
						<!-- Full List of Articles -->
						<section id="featured" class="scroll">
							{exp:channel:entries channel="video_piece" orderby="entry_date" limit="9" paginate="bottom"}
								<article class="item {switch="||last"}">
										<header>
											{exp:ce_img:pair src="{main_image}" width="300" height="180" crop="yes" allow_scale_larger="yes"}
												<a href="/columns/{entry_date format="%Y"}/{entry_date format="%m"}/{entry_date format="%d"}/{url_title}"><img src="{made}" alt="{title}" width="{width}" height="{height}" /></a>
											{/exp:ce_img:pair}
										</header>
										<h3><a href="/columns/{entry_date format="%Y"}/{entry_date format="%m"}/{entry_date format="%d"}/{url_title}">{title} <span class="grey"> - {author}</span></a></h3>
										<footer>
											<p>
											{exp:eehive_hacksaw
												chars = "150" // Limit by number of characters
												words = "" // Limit by number of words
												cutoff = "" // Limit by a specific cutoff string
												append = "" // String to append to the end of the excerpt
												allow = "" // HTML tags you want to allow. Ex allow="<b><a>"
												}
												{text_body}
											{/exp:eehive_hacksaw}
											<a href="/columns/{entry_date format="%Y"}/{entry_date format="%m"}/{entry_date format="%d"}/{url_title}">(Read More)</a>
											</p>
										</footer>
									</div>
								</article>
								{paginate}
								<div class="navigation">
									<span id="paginationtotal">{total_pages}</span>
							        {if previous_page}<a href="{auto_path}">Previous Page</a> &nbsp;{/if}
					        		{if next_page}<a class="next" href="{auto_path}">Next Page</a>{/if}
								</div>
								{/paginate}
							{/exp:channel:entries}
							<div class="clear"></div>
						</section>
						<!-- //End Full List of Articles -->
		<!-- //End Contributor Page -->
	{/if}
						<div class="clear"></div>
					</section>
					<!-- // End Main Div -->
				</section>
				<!-- //End Content div -->
				{embed="common/footer"}