<section id="filter" class="container_12">			
		
			<!-- Search Box -->
		
			<div id="search" class="grid_5">
		
				{exp:search:simple_form channel="text_entry|video_entry|recipe_entry" result_page="search" search_in="everywhere"}
		
					<input type="text" name="keywords" id="keywords" placeholder="Search" size="18" maxlength="100"  />
					<input type="submit" value="Search" name="search" >
		
				{/exp:search:simple_form}
		
			</div>
		
			<!-- //End Search Box -->
			
			<!-- Search Box -->
		
			<div id="subscribe" class="grid_4">
		
					<form action="http://onplatestillhungry.us2.list-manage.com/subscribe/post?u=3c8774cdb8696e12ee856f607&amp;id=1b130d70f0" method="post">
						
					<input type="text" value="" name="EMAIL" placeholder="Email Address">  
					<input type="submit" value="Subscribe" name="subscribe" >

					</form>

		
			</div>
		
			<!-- //End Search Box -->
			
			
			<!-- Search Box -->
		
			<div id="social" class="grid_3">
		
				<nav>
				
					<a href="http://www.facebook.com/onplatestillhungry" id="facebook"></a>
					<a href="http://www.twitter.com/onplatemag" id="twitter"></a>
				
				</nav>
		
			</div>
		
			<!-- //End Search Box -->
							
		<div class="clear"></div>


</section>