<section id="filter" class="container_12">

		<!-- Posts -->
	
		<div id="posts" class="grid_8">
	
			<a href="#" id="tag-btn" class="arrow-down">Posts</a>
	
			<div id="tags" style="display:none;">
	
				<p>posts</p>
	
			</div>
	
		</div>
	
		<!-- //End Posts -->
		
		<!-- Tag Cloud -->
	
		<div id="tag-cloud" class="grid_2">
	
			<a href="#" id="tag-btn" class="arrow-down">Tag Cloud</a>
	
			<div id="tags" style="display:none;">
	
				<p>tag cloud here</p>
	
			</div>
	
		</div>
	
		<!-- //End Tag Cloud -->

	
		<!-- Search Box -->
	
		<div id="search" class="grid_2">
	
			{exp:search:simple_form channel="" search_in="entries"}
	
				<input type="text" name="keywords" value="Search..." size="18" maxlength="100" onClick="this.value=''" />
	
			{/exp:search:simple_form}
	
		</div>
	
	<!-- //End Search Box -->
	
	
		
		<div class="clear"></div>

</section>