	<!-- Feed MPU from AdGear -->
		
		<span class="mpu">
			<script type="text/javascript" language="JavaScript">
			/*
			<![CDATA[
			*/
			  ADGEAR.tags.script.embed({ "id": "253855", "chip_key": "a0a701c078eb012e47960024e87a30c2" });
			/*
			]]>
			*/
			</script>
		
		</span>
	
	<!-- End of JavaScript Tag -->
	
	<!-- Feed MPU from AdGear -->
		
		<span class="mpu">
			<script type="text/javascript" language="JavaScript">
			/*
			<![CDATA[
			*/
			  ADGEAR.tags.script.embed({ "id": "253855", "chip_key": "a0a701c078eb012e47960024e87a30c2" });
			/*
			]]>
			*/
			</script>
		
		</span>
	
	<!-- End of JavaScript Tag -->
