<header id="navigation" {if segment_1 != ""}class="fixed"{/if}>
		
		<!-- 940px Container -->
		
		<div class="container_12">
	
			<!-- Primary Navigation Bar -->
	
			<nav id="primary-navigation">
	
				<a href="{path="home"}" {if segment_1 == ""}class="active" {/if}>Home</a>
	
				<a href="{path="contributors"}" {if segment_1 == "contributors" || segment_1 == "post"}class="active" {/if}>Columns &amp; Contributors</a>
	
				<a href="{path="recipes"}" {if segment_1 == "recipes"}class="active" {/if}>Recipes</a>
	
				<a href="{path="film"}" {if segment_1 == "film"}class="active" {/if}>Film</a>
	
				<a href="{path="about"}" {if segment_1 == "about"}class="active" {/if}>About</a>
	
			</nav>
	
			<!-- //End Primary Navigation Bar -->
			
			<div id="up">
			
				<a href="#todays-post">Top</a>
			
			</div>
			
	
			<!-- Primary Navigation Bar -->
	
			<nav id="category-navigation">
	
				<h4 id="category-navigation-title">Categories:</h4>
	
				<a href="{path="all"}" {if segment_1 == "all"}class="active" {/if}>All</a>
	
				<a href="{path="food"}" {if segment_1 == "food"}class="active" {/if}>Food</a>
	
				<a href="{path="drink"}" {if segment_1 == "drink"}class="active" {/if}>Drink</a>
	
				<a href="{path="travel"}" class="{if segment_2 == "travel"}active {/if}last">Travel</a>
	
			</nav>
	
		<!-- //End Primary Navigation Bar -->
	
			<div class="clear"></div>
	
		</div>
	
	<!-- //End of 940px Container -->
	
</header>
