<section id="filter" class="container_12">

		<!-- Posts -->
	
		<div id="posts" class="grid_8">
	
			<a href="javascript:void(0)" id="tag-btn" class="expand">Posts</a>
	
		</div>
	
		<!-- //End Posts -->

		<div class="right-col">

			<!-- Tag Cloud -->
		
			<div id="tag-cloud" class="grid_2">
		
				<a href="javascript:void(0)" id="tag-btn" class="expand">Tag Cloud</a>
		
			</div>
		
			<!-- //End Tag Cloud -->
			
		
			<!-- Search Box -->
		
			<div id="search" class="grid_2">
		
				{exp:search:simple_form channel="" search_in="entries"}
		
					<input type="text" name="keywords" value="Search..." size="18" maxlength="100" onClick="this.value=''" />
		
				{/exp:search:simple_form}
		
			</div>
		
			<!-- //End Search Box -->
					
		</div>
		
		<div id="tags" style="display:none;">
	
				<div class="grid_8">
				
					<ul class="no-bullets">
						
							<li><a href="/tag/new-york">New York</a></li>
							<li><a href="/tag/london">London</a></li>
							<li><a href="/tag/san-fransisco">San Fransisco</a></li>
							<li><a href="/tag/berlin">Berlin</a></li>
							<li><a href="/tag/tokyo">Tokyo</a></li>
	
					</ul>

				</div>
				
				<div class="right-col">
				
					<ul class="no-bullets">
						
						{exp:tagger:cloud limit="12" rankby="entries" }
						
							<li>
							
								<a href="/tag/{tagger:urlsafe_tagname}">{tagger:tag_name}</a>
													
							</li>
						
						{/exp:tagger:cloud}
	
					</ul>
				
				</div>
				
				<div class="clear"></div>
	
		</div>
		
		<div class="clear"></div>


</section>