{embed="common/head"}
		<!-- Item Detailed Page -->
				<title>On Plate Still Hungry | The Best food guide ever | Home</title>
				<meta property="og:title" content="On Plate Still Hungry | The Best food guide ever" />
				<meta property="og:type" content="website" />
				<meta property="og:url" content="{site_url}" />
				<meta property="og:image" content="{site_url}/images/logo.png" />
			</head>
			<body>
				{embed="common/navigation"}
				<section id="content" class="wrapper">
					{embed="common/branding"}
					<section id="main">
						<header class="divide">
							<h1>About</h1>
						</header>
						<section id="featured">
							<div id="featured-large" class="featured-item">
								{exp:channel:entries channel="text_piece|video_piece" orderby="entry_date" limit="1"}
									<div class="featured-item-image">
										{exp:ce_img:pair src="{main_image}" width="615" height="305" crop="yes" allow_scale_larger="yes"}
											<img src="{made}" alt="{title}" width="{width}" height="{height}" />
										{/exp:ce_img:pair}
									</div>
							</div>
							<div class="clear"></div>
 						</section>
 						<section id="article-list">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet lorem erat. Sed posuere sem non est feugiat ac vulputate diam vulputate. Nam porttitor fermentum magna, sit amet auctor est euismod a. Mauris interdum ipsum et mi ultricies egestas. Vivamus ut rhoncus mauris. Cras diam eros, cursus nec convallis quis, aliquet placerat dolor. Nulla non tortor massa, vitae mollis dui. Suspendisse posuere hendrerit congue. Donec elementum nunc nibh, ut tincidunt magna. Duis eu dictum nunc.</p>
<p>Integer at turpis ac arcu blandit cursus at sed arcu. Maecenas vestibulum nisi in quam congue tristique. Etiam suscipit egestas ante, non bibendum metus dictum eu. Quisque ligula felis, posuere ac pharetra ut, tempor ac erat. Ut mi eros, convallis id bibendum et, vestibulum ut magna. Etiam non est libero, at volutpat magna. Etiam ac eros turpis, nec fermentum augue. Etiam porta, est in faucibus rhoncus, ante nunc mattis erat, quis rhoncus neque dolor sed orci. Nullam nec orci porta nibh tempus semper at ac lacus. Donec et viverra magna. Aenean a dui nec nisi pharetra suscipit non eget mi. Pellentesque egestas condimentum justo in lacinia. Nullam velit ante, elementum et imperdiet a, volutpat a est. Curabitur in diam ipsum, vitae faucibus eros. Nunc ullamcorper ligula id metus varius sit amet tempus ipsum bibendum. Vestibulum sapien neque, tristique sit amet feugiat a, interdum iaculis tortor.</p>
 						</section>
 						<section id="right-col">
 							
 						</section>
				</section>
				<!-- // End Main Div -->
		</section>
		<!-- //End Content div -->
		{embed="common/footer"}
<!-- //End Item Detailed Page -->