{embed="common/head"}

{if segment_2 != "" }

	{embed="post/index"}

{if:else}

	<!-- SEO Stuff -->
	<meta name="title" content="Drink | On Plate, Still Hungry" />
	<meta name="description" content="On Plate, Still Hungry is a food, drink, travel and culture magazine that sees a worldwide collective of writers, artists, chefs, designers, photographers, musicians and filmmakers share meals, stories, interviews and ideas on the daily, family styles." /> 
	<meta name="author" content="On Plate, Still Hungry" />
	<!-- //End SEO Stuff -->
	
	<!-- Facebook O:G Data -->
	<meta property="og:url" content="{site_url}/drink" />
	<meta property="og:site_name" content="On Plate, Still Hungry"/>
	<meta property="og:type" content="website"/>
	<meta property="og:image" content="{site_url}images/logo.png" />
	<meta property="og:title" content="Drink | On Plate, Still Hungry;" />
	<meta name="og:description" content="On Plate, Still Hungry is a food, drink, travel and culture magazine that sees a worldwide collective of writers, artists, chefs, designers, photographers, musicians and filmmakers share meals, stories, interviews and ideas on the daily, family styles." /> 
	<!-- //End Facebook O:G Data -->
		
	<title>Drink | On Plate, Still Hungry</title> 
		
{embed="common/header"}

		<!-- Navigation -->
		
		{embed="common/navigation"}
		
		<!-- //End of Navigation -->
		
		
	
		<!-- Page Title -->
		
		<div id="page-title" class="container_12 block">
				
				<h1 id="post-title">drink</h1>
		
		</div>
		
		<!-- //End of Post Title -->

		<!-- Post Section -->
		
		<section id="categories" class="container_12 block white">
		
			{exp:channel:entries channel="NOT static_page|newsletter" limit="9" dynamic="no" category="2" paginate="bottom"}
		
			<!-- Invidual Post -->
				
				<article class="grid_4 margin-right{switch="|| last"}">
				
						<!-- Image shown by default -->
						
						<div class="front">
						
							<a href="{path="drink/{url_title}"}">
							
								{exp:channel_images:images show_cover="yes" limit="1" entry_id="{entry_id}"}
								
									    <img src="{image:url:medium}" alt="{title}" />
								
								{/exp:channel_images:images}
							
							</a>

						</div>
						
						<!-- //End Image shown by default -->
						
						<!-- Hidden by default -->
						
						<div class="back drink">
							
							<a href="{path="drink/{url_title}"}"></a>
						
						</div>
						
						<!-- //End Hidden by default -->
						
						<div class="details">
				
							<h3>
							
								<a href="{path="drink/{url_title}"}">
							
								{exp:eehive_hacksaw chars = "80" }				
								
									{title}
								
								{/exp:eehive_hacksaw}
								
								</a>
								
							</h3>
							
							<p>
							
								{exp:eehive_hacksaw chars = "150" append="..."}				
							
									{if channel_short_name == "video_entry" }
									
										{video_tagline}
										
									{if:elseif channel_short_name == "recipe_entry" }
									
										{recipe_tagline}
										
									{if:else}
									
										{text_tagline}
										
									{/if}
							
								{/exp:eehive_hacksaw}
									
							</p>

						
							<p class="date">Guest Column: {column_name}<br/>by {contributor}</p>
							
							<p class="date">{date_format}</p>
							
													
						</div>
									
				</article>
				
				<!-- //End of Invidual Post -->	
				
				{/exp:channel:entries}		
		
		</section>
		
		<!-- //End of Related Items -->

	{embed="common/footer"}

{/if}
		

		
<!-- //End of Filter -->	