{embed="common/head"}

	<!-- SEO Stuff -->
	<meta name="title" content="On Plate, Still Hungry" />
	<meta name="description" content="some text here" /> 
	<meta name="author" content="On Plate, Still Hungry" />
	<!-- //End SEO Stuff -->
	
	<!-- Facebook O:G Data -->
	<meta property="og:url" content="{site_url}" />
	<meta property="og:site_name" content="On Plate, Still Hungry"/>
	<meta property="og:type" content="website"/>
	<meta property="og:image" content="{site_url}images/logo.png" />
	<meta property="og:title" content="On Plate, Still Hungry;" />
	<meta property="og:description" content="some text here" />
	<!-- //End Facebook O:G Data -->
		
	<title>Welcome | On Plate, Still Hungry</title> 
		
{embed="common/header"}


		<!-- Todays Post with Full Screen Image -->
		
		{exp:channel:entries channel="NOT static_page" limit="1" dynamic="no" orderby="entry_date" }
		
		<section id="todays-post" 
			style="background: url({image}) no-repeat center center fixed; 
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.{image}', sizingMethod='scale');
			-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{image}', sizingMethod='scale')";">
		

			<!-- Scroll Down Button -->
			
			<div id="scroll-down">
			
				<a href="#navigation">Scroll Down</a>
			
				<div class="down-arrow"></div>
				
			</div>			
			
			<!-- //End of Scroll Down Button -->
			
			
			{embed="common/branding"}
					
			
			<div id="main-post-title">
			
				<div class="col medium left">&nbsp;</div>
			
				<!-- Link to Previous Day -->
				
				<div class="col small left">
				
					<a href="#">Previous</a>
				
				</div>
				
				<!-- //End of Link to Previous Day -->
				
				<!-- Current Day -->
				
				<div class="col large center">
				
					<h1><a href="{path="post/{url_title}"}">{title}</a></h1>
					
					<p>{date_format} - {column_name} - {author}</p>
					
				</div>
				
				<div class="col medium right">&nbsp;</div>
				
				<!-- //End of Current Day -->
				
				<!-- Link to Next Day -->
				<div class="col small right">
				
					<a href="#">next</a>
				
				</div>
				<!-- //End Link to Previous Day -->
			
			</div>
			
		{/exp:channel:entries}
		
		</section>
		
		<!--  //End of Todays Post with Full Screen Image -->
		
		<!-- Navigation -->
		
		{embed="common/navigation"}
		
		<!-- //End of Navigation -->
		
		<!-- Filter -->
		
		{embed="common/filter"}
		
		<!-- //End of Filter -->
		
		<!-- Articles Section -->
		
		<section id="articles" class="container_12">
		
			<!-- Article List -->
			
			<div class="grid_8">
			
			{exp:channel:entries channel="NOT static_page" limit="9" dynamic="no" orderby="entry_date" offset="1" paginate="bottom"}
			
				<!-- Invidual Post -->
				
				<article>
				
					<!-- Post Copy -->
				
					<div class="grid_4 border-bottom">
					
						<h3>
						
							<a href="{path="post/{url_title}"}">
						
							{exp:eehive_hacksaw characters = "80" }				
							
								{title}
							
							{/exp:eehive_hacksaw}
							
							</a>
							
						</h3>
					
						<p class="date"><strong>{column_name} - {author}</strong></p>
						
						<p class="date"><strong>{date_format}</strong></p>
						
						<p>
						
							{exp:eehive_hacksaw words = "20" append="..."}				
							
								{text_body}
							
							{/exp:eehive_hacksaw}
								
						</p>
					
					</div>
					
					<!-- //End of Post Copy -->
					
					<!-- Post Image -->
				
					<div class="grid_4">
					
						<!-- Image shown by default -->
						
						<div class="front">
						
							{exp:ce_img:pair src="{image}" width="300" height="163" crop="yes" allow_scale_larger="yes"}
						
								<img src="{made}" alt="{title}" width="{width}" height="{height}" />
						
							{/exp:ce_img:pair}

						</div>
						
						<!-- //End Image shown by default -->
						
						<!-- Hidden by default -->
						
						<div class="back"></div>
						
						<!-- //End Hidden by default -->					
					
					</div>
					
					<!-- //End of Post Image -->
					
					<div class="clear"></div>
									
				</article>
				
				<!-- //End of Invidual Post -->
				
				{/exp:channel:entries}
			
			</div>
			
			<!-- //End Article List -->
			
			<!-- Right Column -->
			
			<aside id="right-col">
			
				<div class="grid_4">
				
					{embed="common/contributor"}
				
				</div>
				
				<div class="grid_4">
				
					{embed="common/mpu"}
				
				</div>
				
				<div class="clear"></div>
			
			</aside>
			
			<!-- //End of Right Column -->
		
		</section>
		
		<!-- //End of Articles Section -->

<!-- Filter -->
		
{embed="common/footer"}
		
<!-- //End of Filter -->		