{embed="common/head"}

	<!-- SEO Stuff -->
	<meta name="title" content="On Plate, Still Hungry" />
	<meta name="description" content="On Plate, Still Hungry is a food, drink, travel and culture magazine that sees a worldwide collective of writers, artists, chefs, designers, photographers, musicians and filmmakers share meals, stories, interviews and ideas on the daily, family styles." /> 
	<meta name="author" content="On Plate, Still Hungry" />
	<!-- //End SEO Stuff -->
	
	<!-- Facebook O:G Data -->
	<meta property="og:url" content="{site_url}" />
	<meta property="og:site_name" content="On Plate, Still Hungry"/>
	<meta property="og:type" content="website"/>
	<meta property="og:image" content="{site_url}images/logo.png" />
	<meta property="og:title" content="On Plate, Still Hungry;" />
	<meta name="og:description" content="On Plate, Still Hungry is a food, drink, travel and culture magazine that sees a worldwide collective of writers, artists, chefs, designers, photographers, musicians and filmmakers share meals, stories, interviews and ideas on the daily, family styles." /> 
	<!-- //End Facebook O:G Data -->
		
	<title>Welcome | On Plate, Still Hungry</title> 
		
	{embed="common/header"}

		<!-- Todays Post with Full Screen Image -->
		<section id="todays-post">
		
			
			
			<!-- Branding Wrapper -->
			
			<div id="branding" style="display:none;">
			
				<h3 id="beta">BETA</h3>
			
				<!-- Logo -->
				
				<div id="logo">
				
					<a href="{site_url}">
					
						<h2>On Plate, Still Hungry</h2>
					
					</a>
					
				</div>
				
				<!-- //End of Logo -->
				
				<h3 id="strapline">Worldwide Family Style Food & Culture Magazine</h3>
				
				{if segment_1 == "" } {embed="common/category-navigation"} {/if}
				
				
				<!-- Scroll Down Button -->
				
				<div id="scroll-down">
				
					<a href="#navigation">Scroll Down</a>
				
					<div class="down-arrow"></div>
					
				</div>			
				
				<!-- //End of Scroll Down Button -->
			
			</div>
			
			<!-- //End of Branding Wrapper -->
		
			<!-- Get items -->
		
			<ul id="carousel" class="carousel no-bullets">
			
				{exp:channel:entries channel="NOT static_page" limit="5" dynamic="no" }
				
					<li style="background-image: url({exp:channel_images:images show_cover="yes" limit="1" entry_id="{entry_id}"}{image:url:extra-large}{/exp:channel_images:images}); filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.{exp:channel_images:images show_cover="yes" limit="1" entry_id="{entry_id}"}{image:url:extra-large}{/exp:channel_images:images}', sizingMethod='scale'); -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{exp:channel_images:images show_cover="yes" limit="1" entry_id="{entry_id}"}{image:url:extra-large}{/exp:channel_images:images}', sizingMethod='scale')";" >
				
						<div class="post-title-wrapper">
						
							{if count == "1"}
							
							{if:else}
							
								<!-- Link to Next Day -->

									<a href="#" class="next">Next Day<?php //print date("l jS M"; ?></a>
								
								
								<!-- //End Link to Previous Day -->
							
							{/if}
							
							<!-- Current Day -->
							
							<div class="post-title">
							
								<h1><a href="{path="{categories limit="1"}{category_url_title}{/categories}/{url_title}"}">{title}</a></h1>
								
								<p>{date_format} - Guest Column: {column_name} by {contributor}</p>
								
							</div>
							
							<!-- //End of Current Day -->
						
							{if count == "5"}
							
							{if:else}
							
								<!-- Link to Previous Day -->
	
								<a href="#" class="previous">Previous Day<?php //print date('l jS M'); ?></a>
	
								<!-- //End of Link to Previous Day -->
							
							{/if}
							
						</div>
					
					</li>
				
				{/exp:channel:entries}
			
			</ul>
			
			<!-- //End Get items -->
		
		</section>

		<!--  //End of Todays Post with Full Screen Image -->
		
		<!-- Navigation -->
		
		{embed="common/navigation"}
		
		<!-- //End of Navigation -->
		
		<!-- Filter -->
		
		{embed="common/filter"}
		
		<!-- //End of Filter -->
		
		<!-- Articles Section -->
		
		<section id="articles" class="container_12">
		
			<!-- Article List -->
			
			<div class="grid_8">
			
			{exp:channel:entries channel="NOT static_page" limit="9" dynamic="no" orderby="entry_date" paginate="bottom"}
			
				<!-- Invidual Post -->
				
				<article>
				
					<!-- Post Copy -->
				
					<div class="grid_4 border-bottom">
					
						<h3>
						
							<a href="{path="{categories limit="1"}{category_url_title}{/categories}/{url_title}"}">
						
							{exp:eehive_hacksaw chars = "80" }				
							
								{title}
							
							{/exp:eehive_hacksaw}
							
							</a>
							
						</h3>
						
						<p>
						
		
							
								{if channel_short_name == "video_entry" }
								
									{video_tagline}
									
								{if:elseif channel_short_name == "recipe_entry" }
								
									{recipe_tagline}
									
								{if:else}
								
									{text_tagline}
									
								{/if}
							
								
						</p>
					
						<p class="date">Guest Column: {column_name}<br/>by {contributor}</p>
						
						<p class="date">{entry_date format="%j%S %F"}</p>
						
						<p class="date_character">{entry_date format="%D"}</p>
						
					
					</div>
					
					<!-- //End of Post Copy -->
					
					<!-- Post Image -->
				
					<div class="grid_4">
					
						<!-- Image shown by default -->
						
						<div class="front">
						
							<a href="{path="{categories limit="1"}{category_url_title}{/categories}/{url_title}"}">
							
								{exp:channel_images:images show_cover="yes" limit="1" entry_id="{entry_id}"}
								
									    <img src="{image:url:medium}" alt="{title}" />
								
								{/exp:channel_images:images}
							
							</a>

						</div>
						
						<!-- //End Image shown by default -->
						
						<!-- Hidden by default -->
						
						<div class="back {categories limit="1"}{category_url_title}{/categories}">
							
							<a href="{path="{categories limit="1"}{category_url_title}{/categories}/{url_title}"}"></a>
						
						</div>
						
						<!-- //End Hidden by default -->					
					
					</div>
					
					<!-- //End of Post Image -->
					
					<div class="clear"></div>
									
				</article>
				
				<!-- //End of Invidual Post -->
				
				{/exp:channel:entries}
			
			</div>
			
			<!-- //End Article List -->
			
			<!-- Right Column -->
			
			<aside class="right-col">
			
				<div class="grid_4">
				
					{embed="common/mpu"}
				
				</div>
				
				<div class="grid_4">
				
					{embed="common/contributor"}
				
				</div>
				
				
				<div class="clear"></div>
			
			</aside>
			
			<!-- //End of Right Column -->
			
			
			<div class="clear"></div>
		
		</section>
		
		<!-- //End of Articles Section -->

<!-- Filter -->
		
{embed="common/footer"}
		
<!-- //End of Filter -->		