{embed="common/head"}


{if segment_2 != "" }

	{exp:channel:entries channel="NOT static_page" limit="9" dynamic="yes"  paginate="bottom" author="{author_id}"}

	<!-- SEO Stuff -->
	<meta name="title" content="{author} | Contributors | On Plate, Still Hungry" />
	<meta name="description" content="{exp:member:custom_profile_data member_id="{author_id}" }{bio}{/exp:member:custom_profile_data}" /> 
	<meta name="author" content="On Plate, Still Hungry" />
	<!-- //End SEO Stuff -->
	
	<!-- Facebook O:G Data -->
	<meta property="og:url" content="{site_url}/contributors/{auhtor_id}" />
	<meta property="og:site_name" content="On Plate, Still Hungry"/>
	<meta property="og:type" content="website"/>
	<meta property="og:image" content="{site_url}images/logo.png" />
	<meta property="og:title" content="{author} | On Plate, Still Hungry;" />
	<meta name="og:description" content="{exp:member:custom_profile_data member_id="{author_id}" }{bio}{/exp:member:custom_profile_data}" /> 
	<!-- //End Facebook O:G Data -->
		
	<title>{author} | Contributors | On Plate, Still Hungry</title> 
	
	{/exp:channel:entries}

{embed="common/header"}

		<!-- Navigation -->
		
		{embed="common/navigation"}
		
		<!-- //End of Navigation -->
		
		
	
		<!-- Page Title -->
		
		<div id="page-title" class="container_12 block">
				
				<h1 id="post-title">{exp:member:custom_profile_data member_id="{segment_2}" }{screen_name}{/exp:member:custom_profile_data}</h1>
		
		</div>
		
		<!-- //End of Post Title -->

		<!-- Post Section -->
		
		<section id="categories" class="container_12 block white">
		
			
			<div class="grid_8">
			
				{exp:channel:entries channel="NOT static_page" limit="9" dynamic="no" paginate="bottom" author_id="{segment_2}"}
			
				<!-- Invidual Post -->
					
					<article class="grid_4 margin-right{switch="| last"}">
					
								{exp:channel_images:images show_cover="yes" limit="1" entry_id="{entry_id}"}
								
									    <img src="{image:url:medium}" alt="{title}" />
								
								{/exp:channel_images:images}								
													
						<h3>
						
							<a href="{path="{categories}{category_url_title}{/categories}/{url_title}"}">
						
							{exp:eehive_hacksaw characters = "80" }				
							
								{title}
							
							{/exp:eehive_hacksaw}
							
							</a>
							
						</h3>
					
						<p class="date">Guest Column: {column_name}<br/>by {contributor}</p>
						
						<p class="date">{date_format}</p>
						
						<p>
						
							{exp:eehive_hacksaw words = "20" append="..."}				
							
								{text_body}
							
							{/exp:eehive_hacksaw}
								
						</p>
						
						<div class="clear"></div>
										
					</article>
					
					<!-- //End of Invidual Post -->	
					
				{/exp:channel:entries}	
				
					
			</div>
			
			<!-- Right Column -->
			
			<aside class="right-col">
			
				<div class="grid_4">
				
					{exp:member:custom_profile_data member_id="{segment_2}"}
 	
						 <div id="avatar">
						 
						 	{exp:ce_img:pair src="{avatar_url}" width="300" height="233" crop="yes" allow_scale_larger="yes"}
												
								<img src="{made}" alt="{title}" width="{width}" height="{height}" />
							
						 	{/exp:ce_img:pair}
						 
						 
						 </div>
						 
						 <h4>{screen_name} - {member_columnname}</h4>
						 <p class="member">{location}</p>
						 <p class="member"><a href="http://www.{url}">{url}</a></p>
						 
						 <p>{bio}</p>
						
					
					{/exp:member:custom_profile_data}

				
				</div>
				
				<div class="clear"></div>
			
			</aside>
			
			<!-- //End of Right Column -->

			<div class="clear"></div>
		
		</section>
		
		<!-- //End of Related Items -->	

{if:else}

	<!-- SEO Stuff -->
	<meta name="title" content="Contributors | On Plate, Still Hungry" />
	<meta name="description" content="On Plate, Still Hungry is a food, drink, travel and culture magazine that sees a worldwide collective of writers, artists, chefs, designers, photographers, musicians and filmmakers share meals, stories, interviews and ideas on the daily, family styles." /> 
	<meta name="author" content="On Plate, Still Hungry" />
	<!-- //End SEO Stuff -->
	
	<!-- Facebook O:G Data -->
	<meta property="og:url" content="{site_url}/contributors" />
	<meta property="og:site_name" content="On Plate, Still Hungry"/>
	<meta property="og:type" content="website"/>
	<meta property="og:image" content="{site_url}images/logo.png" />
	<meta property="og:title" content="Contributors | On Plate, Still Hungry;" />
	<meta name="og:description" content="On Plate, Still Hungry is a food, drink, travel and culture magazine that sees a worldwide collective of writers, artists, chefs, designers, photographers, musicians and filmmakers share meals, stories, interviews and ideas on the daily, family styles." /> 
	<!-- //End Facebook O:G Data -->
		
	<title>Contributors | On Plate, Still Hungry</title> 
		
{embed="common/header"}

		<!-- Navigation -->
		
		{embed="common/navigation"}
		
		<!-- //End of Navigation -->
		
		
	
		<!-- Page Title -->
		
		<div id="page-title" class="container_12 block">
				
				<h1 id="post-title">Columns & Contributors</h1>
		
		</div>
		
		<!-- //End of Post Title -->

		<!-- Post Section -->
		
		<section id="categories" class="container_12 block white">
		
			{exp:channel:entries channel="text_entry" limit="9" dynamic="no" paginate="bottom" }
		
			<!-- Invidual Post -->
				
				<article class="grid_4 margin-right{switch="|| last"}">
				
					<!-- Image shown by default -->
						
						<div class="front">
						
							<a href="{path="{categories limit="1"}{category_url_title}{/categories}/{url_title}"}">
							
								{exp:channel_images:images show_cover="yes" limit="1" entry_id="{entry_id}"}
								
									    <img src="{image:url:medium}" alt="{title}" />
								
								{/exp:channel_images:images}
							
							</a>

						</div>
						
						<!-- //End Image shown by default -->
						
						<!-- Hidden by default -->
						
						<div class="back {categories limit="1"}{category_url_title}{/categories}">
							
							<a href="{path="{categories limit="1"}{category_url_title}{/categories}/{url_title}"}"></a>
						
						</div>
						
						<!-- //End Hidden by default -->
						
						<div class="details">
				
							<h3>
							
								<a href="{path="{categories limit="1"}{category_url_title}{/categories}/{url_title}"}">
							
								{exp:eehive_hacksaw characters = "80" }				
								
									{title}
								
								{/exp:eehive_hacksaw}
								
								</a>
								
							</h3>
							
							<p>
							
								{exp:eehive_hacksaw characters = "150" append="..."}				
							
									{if channel_short_name == "video_entry" }
									
										{video_tagline}
										
									{if:elseif channel_short_name == "recipe_entry" }
									
										{recipe_tagline}
										
									{if:else}
									
										{text_tagline}
										
									{/if}
							
								{/exp:eehive_hacksaw}
									
							</p>
						
							<p class="date">Guest Column: {column_name}<br/>by {contributor}</p>
							
							<p class="date">{date_format}</p>
							
							
						
						</div>
									
				</article>
				
				<!-- //End of Invidual Post -->	
				
				<!-- Pagination (Hidden by infinite scroll -->
				
				{paginate}
							
					<div class="navigation">
					
						<span id="paginationtotal">{total_pages}</span>
				    
				        {if previous_page}<a href="{auto_path}">Previous Page</a> &nbsp;{/if}
		        	
		        		{if next_page}<a class="next" href="{auto_path}">Next Page</a>{/if}
				
					</div>
							
				{/paginate}
				
				<!-- // End of Pagination (Hidden by infinite scroll -->
				
				
				{/exp:channel:entries}		
	
		</section>
		
		<!-- //End of Related Items -->

{/if}

<!-- Filter -->
		
{embed="common/footer"}
		
<!-- //End of Filter -->	