{exp:channel:entries channel="NOT static_page|newsletter" limit="1" dynamic="no" url_title="{segment_2}" }

	<!-- SEO Stuff -->
	<meta name="title" content="{title}" />
	<meta name="description" content="{if channel_short_name == "video_entry" }{video_tagline}{if:elseif channel_short_name == "recipe_entry" }{recipe_tagline}{if:else}{text_tagline}{/if}" /> 
	<meta name="author" content="{author}" />
	<!-- //End SEO Stuff -->
	
	<!-- Facebook O:G Data -->
	<meta property="og:url" content="{site_url}{segment_1}/{url_title}" />
	<meta property="og:site_name" content="On Plate, Still Hungry"/>
	<meta property="og:type" content="website"/>
	<meta property="og:image" content="{exp:channel_images:images show_cover="yes" limit="1" entry_id="{entry_id}"}{image:url:small}{/exp:channel_images:images}" />
	<meta property="og:title" content="{title}" />
	<meta property="og:description" content="{if channel_short_name == "video_entry" }{video_tagline}{if:elseif channel_short_name == "recipe_entry" }{recipe_tagline}{if:else}{text_tagline}{/if}" />
	<!-- //End Facebook O:G Data -->
		
	<title>{title} | {column_name} | {author}</title> 
	
{/exp:channel:entries}
	
{embed="common/header"}

		<!-- Navigation -->
		
		{embed="common/navigation"}
		
		<!-- //End of Navigation -->
		

		
		{exp:channel:entries channel="NOT static_page|newsletter" dynamic="no" limit="1" url_title="{segment_2}" }
		
		<!-- Page Title -->
		
		<div id="page-title" class="container_12 block">
		
				<!-- Link to Next Day -->
								
				{exp:sm_links type="next" entry_id="{entry_id}" channel="NOT static_page|newsletter"}
					<a href="{path="{categories}{category_url_title}{/categories}/{l_url_title}"}" class="next-btn">{l_title}</a>
				{/exp:sm_links}
				
				<!-- //End Link to Previous Day -->
				

				<h1 id="post-title">{exp:eehive_hacksaw words = "25" }{title}{/exp:eehive_hacksaw}</h1>
				
				<p class="date">{date_format} - Guest Column: {column_name}<br/>by {contributor}</p>
				
				
				<!-- Link to Previous Day -->
	
				{exp:sm_links type="previous" entry_id="{entry_id}" channel="NOT static_page|newsletter" }
					<a href="{path="{categories}{category_url_title}{/categories}/{l_url_title}"}" class="previous-btn">{l_title}</a>
				{/exp:sm_links}

				<!-- //End of Link to Previous Day -->
						
		</div>
		
		<!-- //End of Post Title -->

		<!-- Post Section -->
		
		<section id="main" class="container_12 block white">
		
			<article class="grid_8">

				<!-- Post Images -->
				
				{if channel_short_name == "video_entry" }
				
					<div id="small-video">
						{video_video}
					</div>
				
				{if:else}				
				
					<ul id="post-carousel">
					
						<li>
			
							{exp:channel_images:images entry_id="{entry_id}"}
									
									<img src="{image:url:large}" alt="{title}" />
									
							{/exp:channel_images:images}
					
						</li>
					
					</ul>
					
					<div class="carousel-navigation"></div>
				
				<!-- //End of Post Image -->
				
				{/if}
				
				<!-- Post Copy -->
			
				<div id="post-wrapper">
				
				{if channel_short_name == "video_entry" }
								
					<p>{video_body}</p>

					<p>Guest Column: {column_name}<br/>by {contributor}</p>
								
				{if:elseif channel_short_name == "recipe_entry" }
				
					<p>{recipe_body}</p>
					
					<div class="two-col">{recipe_ingredients}</div>
					
					<p>{recipe_instructions}</p>

					<p>Guest Column: {column_name}<br/>by {contributor}</p>
					
				{if:else}
				
					<p>{text_body}</p>

					<p>Guest Column: {column_name}<br/>by {contributor}</p>
					
				{/if}
				
					
					<div class="divide"></div>
					
					<br/>
					
					{embed="common/post-share"}
				
				</div>
				
				
				
				<!-- //End Post Copy -->
			
			</article>
			
			<!-- Right Column -->
			
			<aside class="right-col">
			
				<div class="grid_4">
				
					{embed="common/mpu"}
				
				</div>
			
				<div class="grid_4">
				
					{exp:member:custom_profile_data member_id="{author_id}"}
 	
						 <div id="avatar">
						 
						 	{exp:ce_img:pair src="{avatar_url}" width="300" height="233" crop="yes" allow_scale_larger="yes"}
												
								<img src="{made}" alt="{title}" width="{width}" height="{height}" />
							
						 	{/exp:ce_img:pair}
						 
						 
						 </div>
						 
						 <h4>{screen_name} - {member_columnname}</h4>
						 <p class="member">{location}</p>
						 <p class="member"><a href="http://www.{url}" target="_blank">{url}</a></p>
						 
						 <p>{bio}</p>
					
					{/exp:member:custom_profile_data}

				
				</div>
				
				<div class="clear"></div>
			
			</aside>
			
			<!-- //End of Right Column -->

			<div class="clear"></div>
		
		</section>
		<?php 
			
			//Setup similar items for further down the page
			//$author = {author_id}; 
			//$category = "{categories}{category_id}{/categories}";
			
		?>
		
		{/exp:channel:entries}
		
		<!-- //End of Articles Section -->
		
		<!-- Related Items -->
		
		<section class="container_12 white block">
		
						
			<!-- Related Articles -->
			
			<div class="grid_4">
			
				<h4>Related Articles</h4>

					<ul id="related-carousel" class="carousel">
					
						{exp:channel:entries channel="NOT static_page|newsletter" limit="5" dynamic="no" url_title="NOT {segment_2}" show_group="<?php print $categories; ?>"}
					
							<li>
							
								<p><a href="{path="{segment_1}/{url_title}"}">{title} - {contributor}</a></p>
								
									<a href="{path="{segment_1}/{url_title}"}">
										
											{exp:channel_images:images show_cover="yes" limit="1" entry_id="{entry_id}"}
									
										    	<img src="{image:url:small}" alt="{title}" />
									
											{/exp:channel_images:images}
									
									</a>
							
							</li>
						
						{/exp:channel:entries}
					
					</ul>
					
					<div id="relatedcarousel-navigation" class="carousel-navigation"></div>
			
			</div>
		
			
			<!-- //Related Articles -->
			
			<div class="clear"></div>
		
		</section>
		
		<!-- //End of Related Items -->
		
		<section class="container_12 white block">
		
				<!-- Comments -->
		
					{embed="common/comments"}
					
					<!-- /end Comments -->

		</section>

{embed="common/footer"}